<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My-Restaurant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <center>
        <button class="btn btn-primary m-2" onclick="printFunction()" id="printbutton"> Print</button>
    </center>
    <form action="/" method="post" class="position-absolute top-0 start-0" id="Homebutton">
        {% csrf_token %}
        <input hidden type="text" name="billed" value="True" />
        <input class="btn btn-primary m-2" type="submit" value="Home"/>
    </form>

    {% load cart %}

    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
        <div class="card">
            <div class="card-header p-4">
                <div class="pt-2 d-inline-block">BhopalFoodFactory</div>
                <div class="float-right">
                    <h2 class="mb-0">Order Token</h2>
                    {% now "d M Y" %}
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Price</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in products %}
                            <tr>
                                <td>{{p.name}}</td>
                                <td>{{p|qty_in_cart:request.session}}</td>
                                <td>₹{{p.price}}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="card-footer bg-white">
                <p class="mb-0">Minimal Restaurant, Katara Hills, Bhopal, 462043</p>
            </div>
        </div>
    </div>

    <!-- SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script>
        function printFunction() {
            //Get the print button and put it into a variable
            var printButton = document.getElementById("printbutton");
            var Homebutton = document.getElementById("Homebutton");
            //Set the print button visibility to 'hidden' 
            printButton.style.visibility = 'hidden';
            Homebutton.style.visibility = 'hidden';
            //Print the page content
            window.print();
            //make the button visible again
            printButton.style.visibility = 'visible';
            Homebutton.style.visibility = 'visible';
        }
    </script>
</body>

</html>